* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
.header {
  background-color: #fff8f3;
  background-image: url("./images/header_bg.png"), url("./images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
/* Header navigation and nav style */
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.nav-title span {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 226px;
  margin-right: 230px;
  padding-top: 51px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

.btn1 {
  font-weight: 700;
  font-size: 20px;
  color: white;
  background: #fd6e0a;
  border-radius: 5px;
  border: none;
  padding: 18px 35px 19px 36px;
}

/* Container Style */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0px 226px;
}
.aside {
  width: 585px;
  height: 356px;
}
.imgHeader {
  margin-top: 48px;
  margin-right: 38px;
}
.container .banner-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  color: #474747;
  margin-bottom: 5px;
}

.container .banner-name {
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
  margin-bottom: 20px;
  color: #181818;
}

.container .banner-desc {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}

.btn2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 10px;
  color: white;
  background: #fd6e0a;
  border-radius: 5px;
  border: none;
  padding: 18px 35px 19px 36px;
  margin-right: 30px;
}

.btn3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #fd6e0a;
  background-color: white;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  padding: 18px 35px 19px 36px;
}

/* about section styles */

main {
  width: 1140px;
  height: 550px;
  background: #fff8f3;
  margin: 0 auto;
}
.about {
  margin-top: 130px;
  border-radius: 10px;
  padding: 131px 156px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-details {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  margin-bottom: 30px;
}

/* Design the address part */

address {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

address div {
  text-align: center;
}

address div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #757575;
}

address div h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #474747;
}

/* Now styles on What i do section */
.what-i-do {
  margin-top: 130px;
}

.section-title {
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #181818;
}

.section-desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  margin-bottom: 50px;
}

.skils-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.skil {
  width: 267px;
  height: 377px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 130px;
}
.skil img {
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
}
.skil h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #181818;
  margin-bottom: 20px;
}

.skil p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

/* Style the Resume section */

.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #474747;
  margin-bottom: 30px;
}

.education {
  width: 511px;
  height: 175px;
}

.education h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #474747;
  margin-bottom: 10px;
}

.education h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
  margin-bottom: 20px;
}

.education p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  margin-bottom: 30px;
}
hr {
  margin: 30px 0;
}

.resume-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.btn4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-top: 10px;
  color: white;
  background: #fd6e0a;
  border-radius: 5px;
  border: none;
  padding: 18px 35px 19px 36px;
  margin-right: 30px;
  text-align: center;
}
